
#frontpage
{
    height: 100vh;
    align-items: center;
    justify-content: start;
    text-align: start;
    margin-bottom: 15em;
    margin-top: 0em;
}

.container h1.mainheading
{
    font-size: 6em;
    word-spacing: 0.1em;
    width: 60%;
    position: absolute;
    left: 0.5em;
    top: 40%;
    translate: 0 -50%;
}

#highlight
{
    width: 100vw;
    height: 10em;
    background: linear-gradient( #141414 80%, #FF8BA6);
    position: absolute;
    z-index: -1;
    translate: 0 90%;
}

.slider
{
    width: 100vw;
    height: 15em; 
    white-space: nowrap;
    gap: 0.7em;
    z-index: -1;
}

.subslider
{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.slider img
{
    height: 15em;
    width: 14.29%;
    object-fit: cover;
    filter: grayscale(70%);
}

@media only screen and (max-width: 1870px)
{
    .container h1.mainheading
    {
        font-size: 4.5em;
    }
}

@media only screen and (max-width: 1585px)
{
    .container h1.mainheading
    {
        width: 80%;
    }
}

@media only screen and (max-width: 1250px)
{
    .container h1.mainheading
    {
        font-size: 3.5em;
    }
}

@media only screen and (max-width: 935px)
{
    .container h1.mainheading
    {
        width: 90%;
    }
}

@media only screen and (max-width: 775px)
{
    .container h1.mainheading
    {
        text-align: start;
        font-size: 4em;
        padding: 0.5em;
        width: 80%;
    }
}

@media only screen and (max-width: 710px)
{
    .container h1.mainheading
    {
        text-align: start;
        font-size: 4em;
        width: 80%;
    }
}

@media only screen and (max-width: 565px)
{
    .container h1.mainheading
    {
        font-size: 3.5em;
        width: 70%;
    }
}

@media only screen and (max-width: 430px)
{
    .container h1.mainheading
    {
        font-size: 3em;
        width: 70%;
        left: 0.25em;
        top: 7.25em;
    }
}