
.intro
{
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    transition: 1s;
}

.logo img
{
    height: 10em;
    filter: invert(1);
}

.logo
{
    display: inline-block;
    position: relative;
    left: 15em;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.active
{
    left: 0;
    opacity: 1;
}